
@media only screen and (max-width: 1340px) {
    .logoipsum_header .logo { max-width: 150px; margin-right: 10px; } .logoipsum_header .logoipsum_header_menu ul li { margin: 0 10px; list-style: none; text-decoration: none; } .logoipsum_header .logoipsum_header_button .login_btn { padding: 14px 20px 14px 20px; }
}
@media only screen and (max-width: 1240px) {
    .Lottery_sec_box { max-width: calc(30% - 22px); margin-bottom: 20px; } .lottery_Online_sec .d-flex, .super_time_sec{ justify-content: center; } .super_time_sec_box { margin-bottom: 20px; }
}
@media only screen and (max-width: 1200px) {
    .logoipsum_header .logoipsum_header_menu ul li a ,.logoipsum_header .logoipsum_header_button .login_btn { font-size: 14px; line-height: 20px; } .footer_sec .footer_menu h4 { font-size: 23px; padding-bottom: 14px; } .logoipsum_time_sec { min-height: 490px; }
}
@media only screen and (max-width: 1100px) {
    .logoipsum_header .logoipsum_header_menu ul { display: block; position: absolute; width: 100%; left: 0; background-color: #fff; z-index: 99; top: 88px; display: none; border-top: 1px solid #CDDCE9;} .moblie_menu_icon{ display: block; font-size: 28px; position: absolute; right: 18px; } 
    .main_container { padding: 10px 10px; } .logoipsum_header .logoipsum_header_menu ul li { padding: 7px; } .logoipsum_header_button { margin-right: 45px; } .logoipsum_time_sec { background-image: none; } .how_It_Work_sec .mx_width { flex: 1 0 100%; max-width: 100%; }
    .banner_left_content.mx_width { margin-bottom: 30px; } .banner_left_content .right_content { max-width: 100%; margin: 0 0 0 auto; } .right_content p { font-size: 18px; line-height: 24px; } .multi_button_section { margin-bottom: 35px; } header.logoipsum_header { padding: 10px 0; }
}
@media only screen and (max-width: 992px) {
    .Lottery_sec_box { max-width: calc(40% - 22px); } .lottery_Online_sec { padding: 50px 0; margin-top: 0; } .how_It_Work_sec { padding: 50px 0 30px; } .logoipsum_img_sec { margin-top: -436px; } .super_time_sec.d-flex { margin: 40px 0 40px; }
}
@media only screen and (max-width: 768px) {
    .how_It_Work_sec .btn_play {width: 55px;top: 32%; min-height: 55px;}
    .footer_sec .footer_menu { flex: 1 0 49.33333%; } .footer_sec .footer_menu ul { margin-bottom: 30px; } footer.footer_sec { padding-top: 40px; padding-bottom: 0; } h1, h2 { font-size: 30px; line-height: 38px; } .checkbox.purple { max-width: 75px; min-height: 72px; }
    .Lottery_sec_box .checkbox img { max-width: 35px; } .footer_sec .footer_menu_icon li { margin: 0 13px; padding-bottom: 20px; } .modal .modal_title p { line-height: 25px; padding-bottom: 12px; } .modal .from_name { margin-bottom: 15px; } .modal .close { top: -8px; right: -5px; width: 35px; height: 35px; line-height: 34px; }
    .banner_left_content .right_content {max-width: 100%;margin: 0 0 0 auto;display: block;text-align: center;}
    .right_content p {font-size: 16px;line-height: 24px;}
}
@media only screen and (max-width: 576px) {
    .logoipsum_header .logoipsum_header_menu ul {top: 80px;}
    .logoipsum_header .logo img { max-width: 140px; } .logoipsum_header .logoipsum_header_button .login_btn { padding: 10px 14px 10px 14px; } .logoipsum_header .logoipsum_header_menu ul li a, .logoipsum_header .logoipsum_header_button .login_btn { font-size: 13px; line-height: 20px; }
    .how_It_Work_sec .video_icon::before {height: 74px;}.Lottery_sec_box { max-width: calc(100% - 22px); } .multi_button_section{ overflow-x: auto; white-space: nowrap; -webkit-overflow-scrolling: touch; max-width: 460px; width: 100%; } .modal .remember_sec .d-flex p { font-size: 13px; } .modal .forgot_password { font-size: 13px; }
}
@media only screen and (max-width: 400px) {
    .footer_sec .footer_menu {flex: 1 0 100%;}
}

